<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="LogToFile" fileName="logs/ksamsok.log">
            <EcsLayout serviceName="K-samsök"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="se.raa.ksamsok" level="info"/>
        <Root level="warn">
            <AppenderRef ref="LogToFile"/>
        </Root>
    </Loggers>
</Configuration>
