<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:property-placeholder />
	<context:annotation-config />

	<!--
		applikationskonf för en master/replikeringsmasternod
		notera att om nåt läggs till/ändras här så kanske man vill uppdatera
		slav-versionen och vice versa
	-->

	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/harvestdb" />
	</bean>
	
	<bean id="dataSourceReader" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/harvestdbreader" />
	</bean>
	
	<bean id="solr" class="org.apache.solr.client.solrj.impl.CommonsHttpSolrServer" >
		<constructor-arg>
			<value>http://localhost:8080/solr</value>
		</constructor-arg>
	</bean>

	<bean id="statusService" class="se.raa.ksamsok.harvest.StatusServiceImpl">
		<constructor-arg ref="dataSourceReader"/>
	</bean>
	<bean id="harvestRepositoryManager" class="se.raa.ksamsok.harvest.HarvestRepositoryManagerImpl">
		<constructor-arg ref="dataSourceReader" />
		<constructor-arg ref="statusService" />
		<constructor-arg ref="solr" />
	</bean>
	<bean id="harvestServiceManager" class="se.raa.ksamsok.harvest.HarvestServiceManagerImpl" init-method="init" destroy-method="destroy">
		<constructor-arg ref="dataSourceReader" />
		<constructor-arg ref="harvestRepositoryManager" />
		<constructor-arg ref="statusService" />
		<!-- sträng som måste finnas i db-url:en från datasource:n för att tjänster ska får scheduleras utan år -->
		<constructor-arg value="lx-ra-kmsdb" />
	</bean>
	<bean id="searchService" class="se.raa.ksamsok.solr.SearchServiceImpl">
		<property name="solr" ref="solr"/>
	</bean>
	<bean id="keyManager" class="se.raa.ksamsok.apikey.APIKeyManager" init-method="init">
		<constructor-arg ref="dataSourceReader" />
	</bean>
	<bean id="statisticsManager" class="se.raa.ksamsok.statistic.StatisticsManager" init-method="init" destroy-method="destroy">
		<constructor-arg ref="dataSourceReader" />
	</bean>
	<bean id="organizationManager" class="se.raa.ksamsok.organization.OrganizationManager">
		<constructor-arg ref="dataSourceReader" />
	</bean>

</beans>
