<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:property-placeholder />
	<context:annotation-config />

	<!--
		applikationskonf för en master/replikeringsmasternod
		notera att om nåt läggs till/ändras här så kanske man vill uppdatera
		slav-versionen och vice versa
	-->
	<bean id="placeholderConfig"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <!-- local.properties is just local so it might not exist and thus we need this flag -->
        <property name="ignoreResourceNotFound" value="true" />
        <!-- make sure all used variables in this context file can be resolved -->
        <property name="ignoreUnresolvablePlaceholders" value="false" />
        <property name="locations">
            <list>
                <value>classpath:apiconnect.properties</value>
            </list>
        </property>
        <property name="systemPropertiesModeName">
            <value>SYSTEM_PROPERTIES_MODE_OVERRIDE</value>
        </property>
    </bean>

	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/harvestdb" />
	</bean>
	
	<bean id="dataSourceReader" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/harvestdbreader" />
	</bean>
	
	<bean id="solr" class="org.apache.solr.client.solrj.impl.CommonsHttpSolrServer" >
		<constructor-arg>
			<value>http://localhost:8080/solr</value>
		</constructor-arg>
	</bean>

	<bean id="statusService" class="se.raa.ksamsok.harvest.StatusServiceImpl">
		<constructor-arg ref="dataSource"/>
	</bean>
	<bean id="harvestRepositoryManager" class="se.raa.ksamsok.harvest.HarvestRepositoryManagerImpl">
		<constructor-arg ref="dataSource" />
		<constructor-arg ref="statusService" />
		<constructor-arg ref="solr" />
	</bean>
	<bean id="harvestServiceManager" class="se.raa.ksamsok.harvest.HarvestServiceManagerImpl" init-method="init" destroy-method="destroy">
		<constructor-arg ref="dataSource" />
		<constructor-arg ref="harvestRepositoryManager" />
		<constructor-arg ref="statusService" />
		<!-- sträng som måste finnas i db-url:en från datasource:n för att tjänster ska får scheduleras utan år -->
		<constructor-arg value="lx-ra-kmsdb" />
	</bean>
	<bean id="searchService" class="se.raa.ksamsok.solr.SearchServiceImpl">
		<property name="solr" ref="solr"/>
	</bean>
	<bean id="keyManager" class="se.raa.ksamsok.apikey.APIKeyManager" init-method="init">
		<constructor-arg ref="dataSource" />
	</bean>
	<bean id="statisticsManager" class="se.raa.ksamsok.statistic.StatisticsManager" init-method="init" destroy-method="destroy">
		<constructor-arg ref="dataSource" />
	</bean>
	<bean id="organizationManager" class="se.raa.ksamsok.organization.OrganizationManager">
		<constructor-arg ref="dataSource" />
	</bean>
	<bean id="ugcHubManager" class="se.raa.ksamsok.ugchub.UGCHubManager" init-method="init" destroy-method="destroy">
	    <!--
	    TODO !! få det att funka med laddning av values från apiconnect.properties !!
        <property name="scheme" value="http" />        
        <property name="host" value="lx-ra-ugchubtest:8080" />
        <property name="path" value="/UGC-hub/api" />
        <property name="key" value="st4609gu77" />
        <property name="method" value="retrieve" />
        <property name="objectUri" value="all" />
        <property name="scope" value="all" />
        <property name="format" value="json" />
        
        
        <property name="scheme" value="${ugchub.scheme}" />        
        <property name="host" value="${ugchub.host}" />
        <property name="path" value="${ugchub.path}" />
        <property name="key" value="${ugchub.key}" />
        <property name="method" value="${ugchub.method}" />
        <property name="objecturi" value="${ugchub.objecturi}" />
        <property name="scope" value="${ugchub.scope}" />
        <property name="format" value="${ugchub.format}" />
        <property name="limit" value="${ugchub.limit}" />
         -->
    </bean>

</beans>
