body {font-family: Verdana,arial; font-size: 11px; margin-top: 0; margin-bottom: 0; padding: 0; height: 100%;}

h1 {font-family: Verdana,arial; font-size: 14px; font-weight: bold;}
h2 {font-family: Verdana,arial; font-size: 12px; font-weight: bold;}

p {font-family: Verdana; font-size: 11px;}

td {font-family: Verdana; font-size: 11px;}

li {font-family: Verdana; font-size: 11px;}
#red {color: #990000; font-weight: bold;}
#black {color: #000000; font-weight: bold;}
#box1 {border-left: 1px solid #999999; border-right: 1px solid #999999; border-bottom: 1px solid #999999; border-top: 1px solid #999999; width:auto; height: auto; padding: 10px; margin-top: 10px; margin-right: auto; margin-left: auto;  background-color: #ffffff; display:table}
#col1 {width: auto; float: left; padding-right: 1em; padding-left: 1em;}
#col2 {width: auto; float: left; padding-right: 1em; padding-left: 1em; border-left: 1px solid #999999; padding-top: 20px;}

.logo {
    width:300px;
}