/* -----------------------------------------------
    Default CSS
    * is for IE6/7 quirks mode
    _ is for IE6 quirks mode
    Pixel / 13 = "em"
    "em" x 0.9759 = "IE em"
----------------------------------------------- */


/* -----------------------------------------------
    GLOBAL RESET START
----------------------------------------------- */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, table, th, td
{
    margin: 0;
    padding: 0;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
    word-wrap: break-word;
}

fieldset, img
{
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var
{
    font-style: normal;
    font-weight: normal;
}

ol, ul
{
    list-style: none;
}

caption, th
{
    text-align: left;
}

h1, h2, h3, h4, h5, h6
{
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after
{
    content: '';
}

abbr, acronym
{
    border: 0;
}

/* -----------------------------------------------
    GLOBAL RESET STOP
----------------------------------------------- */


/* -----------------------------------------------
    FONTS START
----------------------------------------------- */

/* -----------------------------------------------
    font-size: 77% for setting 10px
    font-size: 85% for setting 11px
    font-size: 93% for setting 12px
    font-size: 100% for setting 13px
    font-size: 108% for setting 14px
    font-size: 116% for setting 15px
    font-size: 123.1% for setting 16px
    font-size: 131% for setting 17px
    font-size: 138.5% for setting 18px
    font-size: 146.5% for setting 19px
    font-size: 153.9% for setting 20px
    font-size: 161.6% for setting 21px
    font-size: 167% for setting 22px
    font-size: 174% for setting 23px
    font-size: 182% for setting 24px
    font-size: 189% for setting 25px
    font-size: 197% for setting 26px
----------------------------------------------- */

body
{
    font: 13px/1.22 arial, helvetica, clean, sans-serif;
    *font-size: small;
    *font: x-small;
}

table, textarea
{
    font-size: inherit;
    font: 100%;
}

pre, code, kbd, samp, tt
{
    font-family: monospace;
    *font-size: 108%;
    line-height: 99%;
}

/* -----------------------------------------------
    FONTS STOP
----------------------------------------------- */


/* -----------------------------------------------
    BASE HTML ELEMENTS START
----------------------------------------------- */

h1
/* Renders 18px */
{
    font-size: 138.5%;
}

h2
/* Renders 16px */
{
    font-size: 123.1%;
}

h3
/* Renders 14px */
{
    font-size: 108%;
}

h1, h2, h3
{
    margin: 1em 0;
}

h1, h2, h3, h4, h5, h6, strong, th
{
    font-weight: bold;
}

abbr, acronym
{
    border-bottom: 1px dotted #333;
    cursor: help;
}

em
{
    font-style: italic;
}

blockquote, ul, ol, dl
{
    margin: 1em;
}

blockquote
{
    background: url('../img/blockquote.gif') top left no-repeat;
    padding-left: 2.2em;
}

ol, ul, dl
{
    margin-left: 2em;
}

ol li
{
    list-style: decimal outside;
}

ul li
{
    list-style: disc outside;
}

dl dd
{
    margin-left: 1em;
}

tr
{
    vertical-align: top;
}

th, td
{
    vertical-align: top;
    text-align: left;
    border: 0;
}

caption
{
    margin-bottom: 0.5em;
}

p, fieldset
{
    margin-bottom: 1em;
}

a, a:visited, a:active, a:hover
{
    text-decoration: underline;
}

a img, a:hover img
{
    text-decoration: none;
}

/* -----------------------------------------------
    BASE HTML ELEMENTS STOP
----------------------------------------------- */


/* -----------------------------------------------
    PAGE GRIDS START
----------------------------------------------- */
/*
body
{
    text-align: center;
}
*/
/* -----------------------------------------------
    PAGE GRIDS STOP
----------------------------------------------- */

/* -----------------------------------------------
    COLORS START
----------------------------------------------- */

.bgWhite
{
    background-color: #FFF;
    color: #333;
}

.bgBlack
{
    background-color: #000;
    color: #FFF;
}

.bgBlackFuzzy
{
    background-color: #333;
    color: #FFF;
}

.bgBlackLight
{
    background-color: #999;
    color: #FFF;
}

.bgBlackUltraLight
{
    background-color: #CCC;
    color: #FFF;
}

.bgGray
{
    background-color: #666;
    color: #FFF;
}

.bgGrayFuzzy
{
    background-color: #858585;
    color: #FFF;
}

.bgGrayMedium
{
    background-color: #A3A3A3;
    color: #FFF;
}

.bgGrayLight
{
    background-color: #C2C2C2;
    color: #000;
}

.bgGrayUltraLight
{
    background-color: #E0E0E0;
    color: #000;
}

.red {
	color: red;
}

/* -----------------------------------------------
    COLORS STOP
----------------------------------------------- */


/* -----------------------------------------------
    UTIL START
----------------------------------------------- */

.clear
{
    clear: both;
}

.floatLeft
{
    float: left;
}

.floatRight
{
    float: right;
}

.center
{
    text-align: center;
}

.left
{
    text-align: left;
}

.right
{
    text-align: right;
}

.middle
{
    vertical-align: middle;
}

.bottom
{
    vertical-align: bottom;
}

.capitalize
{
    text-transform: capitalize;
}

.uppercase
{
    text-transform: uppercase;
}

.lowercase
{
    text-transform: lowercase;
}

.nowrap
{
    white-space: nowrap;
}

.bold
{
    font-weight: bold;
}

.block
{
    display: block! important;
}

.hide
{
    display: none! important;
}

.hidden
{
    visibility: hidden;
}

.transp
{
    width: 1px;
    height: 1px;
}

.widthAuto
{
    width: auto;
}

.widthH
{
    width: 100%;
}

.widthTight
{
    width: 1%;
}

.heightAuto
{
    height: auto;
}

.heightTight
{
    height: 1%;
}

.marginSmallTop
{
    margin-top: 5px;
}

.marginSmallRight
{
    margin-right: 5px;
}

.marginSmallBottom
{
    margin-bottom: 5px;
}

.marginSmallLeft
{
    margin-left: 5px;
}

.marginTop
{
    margin-top: 10px;
}

.marginRight
{
    margin-right: 10px;
}

.marginBottom
{
    margin-bottom: 10px;
}

.marginLeft
{
    margin-left: 10px;
}

.marginWideTop
{
    margin-top: 20px;
}

.marginWideRight
{
    margin-right: 20px;
}

.marginWideBottom
{
    margin-bottom: 20px;
}

.marginWideLeft
{
    margin-left: 20px;
}

.paddingSmallTop
{
    padding-top: 5px;
}

.paddingSmallRight
{
    padding-right: 5px;
}

.paddingSmallBottom
{
    padding-bottom: 5px;
}

.paddingSmallLeft
{
    padding-left: 5px;
}

.paddingTop
{
    padding-top: 10px;
}

.paddingRight
{
    padding-right: 10px;
}

.paddingBottom
{
    padding-bottom: 10px;
}

.paddingLeft
{
    padding-left: 10px;
}

.paddingWideTop
{
    padding-top: 20px;
}

.paddingWideRight
{
    padding-right: 20px;
}

.paddingWideBottom
{
    padding-bottom: 20px;
}

.paddingWideLeft
{
    padding-left: 20px;
}

/* -----------------------------------------------
    UTIL STOP
----------------------------------------------- */

.menu
{
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.menu a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 5px;
    padding: 2px;
    border: 1px black solid;
}
.menu a:hover
{
    text-decoration: none;
    color: white;
    background-color: black;
}

.menu .servername
{
	float: right;
	color: white;
	font-weight: bold;
	margin-right: 5px;
}

#problemlog th
{
	padding: 2px 20px 2px 2px;
}

#servicetable td, #servicetable th, #problemlog td
{
	padding: 2px;
}

.sortable
{
	background-image:url(../bilder/ascdesc.gif);
	background-position:right center;
	background-repeat:no-repeat;
}

.sortasc
{
	background-image:url(../bilder/asc.gif);
	background-position:right center;
	background-repeat:no-repeat;
}

.sortdesc
{
	background-image:url(../bilder/desc.gif);
	background-position:right center;
	background-repeat:no-repeat;
}

.currentPageLink
{
    color: red;	
}

.notCurrentPageLink
{
	color: blue;
}

.error
{
	color: red;
}

.content-para {
  display: block;
  margin: 0;
  padding: 0.5rem 0;
  padding-right: 7rem;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #dadada;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  flex-shrink: 0;
}

.header-logo {
  display: block;
  height: 3.125rem;
  margin-top: -4px;
}


.section-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}
