@CHARSET "UTF-8";

body
{
	background-color: #ABABAB;
}

#page
{
	margin: 0px 10px 0px 10px;
}

#head
{
	padding-bottom: 10px;
	border-bottom: solid medium black;
}

#content
{

}

#th
{
	border-bottom: solid thin black;
}

.title
{
	text-align: right;
	font-weight: bold;
}

th
{
	text-align: left;
}